/* p{
   background-color: rgb(205, 218, 31);
}
a{
    background-color: rgba(223, 25, 84, 0.527);
}
div{
    background-color: rgb(37, 207, 219);
}
span{
    background-color: blueviolet;
} */
